NODE_ENV=development
PORT=8080
MONGODB_URI=mongodb://englishforever_app:CAMBIA_ESTA_CLAVE@127.0.0.1:27018/englishforever?authSource=englishforever
JWT_SECRET=GENERA_UN_SECRETO_DISTINTO_DE_AL_MENOS_32_CARACTERES
JWT_REFRESH_SECRET=GENERA_OTRO_SECRETO_DISTINTO_DE_AL_MENOS_32_CARACTERES
JWT_EXPIRES_IN=20m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:4200
BCRYPT_SALT_ROUNDS=12
FRONTEND_URL=http://localhost:4200
MONGO_ROOT_USERNAME=englishforever_root
MONGO_ROOT_PASSWORD=CAMBIA_ESTA_CLAVE_ROOT
MONGO_APP_USERNAME=englishforever_app
MONGO_APP_PASSWORD=CAMBIA_ESTA_CLAVE_APP
MAIL_ENABLED=false
MAIL_PROVIDER=gmail
MAIL_USER=
MAIL_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME_FATHER=
ADMIN_LAST_NAME_MOTHER=
ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_BIRTH_DATE=1990-01-01
ADMIN_REGISTRATION_NUMBER=ADM000001
